#favfood{
font-size:30px;
color:floralwhite;
text-align:center;
}
#favorite{
background-color: antiquewhite;
font-family: fantasy;
}
#pizza{
text-align: center;
font-size:20px;
}
#wiki{
font-size:50px;
}